h1{color:green; font-family:arial; font-size:20pt; TEXT-ALIGN:center}
h2{color:orangered; font-family:arial; font-size:12pt}
h3{color:black; font-family:arial; font-size:12pt}
h4{color:blue; font-family:arial; font-size:12pt}
td{border: 2px solid black; margin: 0; padding: 0}
td img{width: 100%}
table {margin:0 auto}